<% requests.each_with_index do |req, index| %>
  <% if req.status == 'accepted'  %>
    <%= render partial: 'request_item', locals: { req: req, index: index } %>
  <% else %>
    <div class="mt-10">
    
        <%= render partial: 'other_request_item', locals: { req: req, index: index } %>
      
    </div>
  <% end %>
<% end %>