<div id="<%= dom_id request %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Buyer:</strong>
    <%= request.buyer_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= request.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= request.status %>
  </p>

</div>
